html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body {
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
}
